.verifyPass {
    padding: 30px 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
