.infoTourContent {
    width: 100%;
    .nameTour {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .detail {
        width: 100%;
        display: flex;
        padding: 20px 100px;
        .description {
            flex: 3;
            .introduce {
                padding: 20px 0;
                .content {
                    padding: 15px 20px;
                    text-indent: 10px;
                    text-align: justify;
                }
                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
        .bookTour {
            flex: 2;

            table {
                margin: auto;

                border-collapse: collapse;
                tr {
                    text-align: left;
                    border: 1px solid black;
                    th {
                        padding: 5px 10px;
                    }
                }
            }
            .price {
                margin: 20px auto;
                width: fit-content;
                padding: 10px 30px;
                background-color: rgb(75, 202, 160);
                border-radius: 5px;
                p {
                    text-align: center;
                    font-weight: bold;
                    padding: 5px 10px;
                    margin: auto;
                }
                button {
                    display: block;
                    margin: 10px auto;
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: none;
                }
            }
        }
    }
    .formBuy {
        background-color: rgba(181, 228, 248, 0.953);
        border-radius: 5px;
        padding: 30px 50px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
            text-align: center;
        }
        .btnFormBuy {
            display: block;
            padding: 10px 20px;
            background-color: antiquewhite;
            outline: none;
            border: none;
            border-radius: 5px;
            margin: auto;
            margin-top: 60px;
        }
    }
}
