.formLogin{
    h2{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .btnLogin{
        display: block;
        margin: 30px auto;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: rgb(0, 110, 220);
        color: #fff;
    }

}