div{
button{
    margin-top: 10px;
    background-color: rgb(35, 144, 144);
    font-size: 20px;
    color: white;
    padding: 10px;
    display: block;
    border-radius: 20px;
    &:hover{
        background-color: rgb(34, 137, 210);
    }
}
}