.slide {
    margin: auto;
    width: 1000px;

    .img {
        height: 600px;
    }
}
.tourContent {
    h1 {
        text-align: center;
        width: 100%;
        padding: 40px 0px;
    }
    .content {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        align-items: center;
        justify-content: space-around;
    }
}
