.tourManager {
    padding-left: 20px;
    width: 100%;
    position: relative;
    .tabs {
        width: 1200px;
    }
    .createTour {
        width: 80%;
        margin: auto;

    }
    .tourList {
        width: fit-content;
    }
}
