.staffList {
    padding-bottom: 10px;
    h1 {
        padding-top: 10px;
        text-align: left;
        font-size: 20px;
        text-align: center;
    }
    // .staff{
    //     text-align: center;
    // }
}
