.ticketItem {
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(167, 177, 173);
    padding: 5px 10px;
    border-radius: 2px;
    span {
        padding: 10px;
    }
    .index {
        width: 30px;
    }
    .ticketId {
        width: 250px;
    }
    .userName {
        width: 150px;
    }
    .bookDate {
        width: 150px;
    }
    .userSum {
        width: 50px;
    }
    .action {
        button {
            padding: 5px 10px;
            margin-left: 10px;
            border-radius: 2px;
        }
    }
}
