.ticketList {
    .tour {
        min-width: 1000px;
        display: flex;
        
        align-items: center;
        padding: 5px 10px;
        .btnHideList {
            margin: 0px 10px;
        }
        button {
            
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 0;
        }
    }
    .label {
        display: flex;
        align-items: center;
        position: relative;
        background-color: rgb(193, 198, 196);
        padding: 5px 10px;
        border-radius: 2px;
        border-bottom: 1px solid #636363;
        font-weight: bold;
        span {
            padding: 10px;
            text-align: center;
        }
        .index {
            width: 30px;
        }
        .ticketId {
            width: 250px;
        }
        .userName {
            width: 150px;
        }
        .userPhone {
            width: 200px;
        }
        .bookDate {
            width: 150px;
        }
        .userSum {
            width: 100px;
        }
        .priceSum {
            width: 100px;
        }
        .labelStatus {
            width: 150px;
        }
    }
    .btn{
        background-color: rgba(90, 63, 71, 0.527);
       margin-right: 0px;
        &:hover{
            background-color: rgba(18, 54, 54, 0.563);
            color: rgb(253, 253, 253);
        }

    }
}
