.createTour {
    margin-left: 320px;
    padding: 10px 100px;
    background-color: rgb(236, 236, 236);
    margin-top: 15px;
    box-shadow: 2px 2px 3px 3px rgb(181, 181, 181);
    border-radius: 20px;

    .slideList {
        padding: 5px;
        .slideImg {
            width: 200px;
            object-fit: cover;
            image-rendering: pixelated;
        }
    }
    .ct {
        font-size: 17px;
        font-weight: bold;
    }
    .plus {
        font-size: 15px;
        margin-left: 20px;
        background-color: rgb(218, 218, 218);
        padding: 2px;
        border: 1px solid rgb(255, 255, 255);
        &:hover {
            background-color: rgb(204, 91, 91);
        }
        border-radius: 180px;
    }
    h2 {
        text-align: center;
        color: rgb(12, 95, 95);
        font-size: 50px;
        margin: 20px 0;
        margin-bottom: 70px;
        margin-top: 70px;
    }
    .btnSubmit {
        font-size: 20px;
        color: white;
        padding: 10px;
        background-color: rgb(9, 162, 197);
        display: block;
        margin: auto;
        &:hover {
            background-color: rgb(237, 135, 174);
        }
        border-radius: 5px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}
