.createTour {
    margin-left: 320px;
    padding: 10px 100px;
    background-color: rgb(236, 236, 236);
    margin-top: 15px;
    box-shadow: 2px 2px 3px 3px rgb(181, 181, 181);
    .slideList {
        padding: 5px;
        .slideImg {
            width: 200px;
            object-fit: cover;
            image-rendering: pixelated;
        }
    }
    .ct {
        font-size: 17px;
        font-weight: bold;
    }
    .plus {
        font-size: 20px;
        margin-left: 20px;
        background-color: rgb(218, 218, 218);
        padding: 5px;
        border: 1px solid black;
        &:hover {
            background-color: aquamarine;
        }
    }
    h2 {
        text-align: center;
        color: rgb(12, 95, 95);
        font-size: 30px;
        margin: 20px 0;
    }
    .btn {
        border-radius: 9px;
        font-size: 20px;
        color: white;
        padding: 10px;
        background-color: rgba(123, 166, 175, 0.815);
        display: block;
        margin: auto;
        &:hover {
            background-color: rgb(3, 73, 34);
        }
    }
}
