.menuItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bcbcbc7d;
<<<<<<< HEAD
    padding: 5px 20px;
    &:hover {
        background-color: rgb(195, 221, 242);
    }
    .icon {
        width: 20px;
        font-size: inherit;
        padding: 5px;
    }
    p {
        padding: 5px 20px;
=======
    .icon {
        padding: 5px;
    }
    p {
        padding: 5px 10px;
>>>>>>> e168df4e6480efc6b21e7ff30a6a6bce9655b8ac
    }
}
