.tippyLabel {
    color: var(--labelTippyColor);
}
.changeInforForm {
    width: fit-content;
    margin: auto;
    
   // background-color: black;
    .nextback{
       margin-left: 300px;
    }
    .div2{
      //  background-color: black;
    .btn{
        background-color: rgb(234, 242, 242);
        font-size: 20px;
        color: rgb(172, 167, 167);
        padding: 10px;
        display: block;
        border-radius: 20px;
        &:hover{
            color: aliceblue;
            background-color: rgb(24, 109, 109);
        }
    }
    }
}
