.userManager {
    padding-left: 20px;
    width: 150%;
    position: relative;
    h1{
        margin-bottom: 20px;
        color: rgb(2, 104, 115);
    }
    .userList {
        width: 100%;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
