.adminContent {
    padding: 70px 10px 10px 10px;
    min-height: 700px;
    .tabs {
        display: flex;
        .onSelect {
            background-color: rgb(215, 191, 191);
            border-radius: 5px;
            outline: none;
        }
    }
    .tabList {
        height: fit-content;
    }
    .tab {
        display: block;
        padding: 15px 10px;
        cursor: pointer;
    }
    ul {
        margin: 0;
        li {
            height: inherit;
        }
    }
    .tabItem {
        display: flex;
        align-items: center;
        .icon {
        }
        .title {
            padding: 0px 10px;
        }
    }
}
