.decriptionForm {
    padding: 20px;
    background-color: rgb(161, 172, 180);
    border-radius: 15px;
    span {
        display: block;
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
    }
    .title {
        display: block;
    }
    .file {
        display: block;
        margin-bottom: 20px;
    }
    .content {
        display: block;
        width: 700px;
        height: 200px;
        margin-bottom: 10px;
    }
    .ok {
        overflow: none;
        background-color: rgb(75, 83, 192);
        font-size: 20px;
        padding: 15px 50px;
        border-radius: 8px;
        color: white;
        &:hover {
            background-color: rgb(23, 107, 143);
        }
        display: block;
        margin: auto;
    }
}
