.userItem {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: inherit;
    background-color: rgba(168, 193, 193, 0.74);
    border-bottom: 1px solid #bcbcbcc2;
    p {
        padding: 10px;
    }
    img {
        object-fit: cover;
    }
    .stt {
        padding: 5px;
        border-radius: 5px;
        background-color: aquamarine;
        margin-right: 5px;
    }
    .img {
        width: 40px;
        background-color: rgb(174, 175, 175);
        border-radius: 50%;
        height: 40px;
    }
    .name {
        width: 20%;
    }
    .sdt {
        width: 20%;
    }
    .email {
        width: 35%;
    }
    .action {
        display: block;
        margin-right: 0;
        display: flex;
        width: fit-content;
        button {
            border: none;
            outline: none;
            border-radius: 5px;
        }
        .edit {
            padding: 5px 10px;
            margin-right: 5px;
        }
        .delete {
            padding: 5px 10px;
        }
    }
    .showUser {
        padding: 10px;
        position: absolute;
        width: 290px;
        border-radius: 5px;
        background-color: rgb(176, 189, 189);
        top: 30%;
        left: 101%;

        h2 {
            color: rgb(58, 58, 58);
            text-align: center;
        }
        h3 {
            color: rgb(56, 111, 193);
        }
        b {
            color: rgb(35, 47, 77);
        }
        .imgUser {
            display: block;
            width: 100px;
            height: 100px;
            background-color: aqua;
            margin: 10px auto;
            border-radius: 50%;
            object-fit: cover;
        }
        .nameUser {
            text-align: center;
        }
    }
}
