.userItem {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 1300px;
    background-color: rgba(205, 213, 213, 0.74);
    border-bottom: 1px solid #bcbcbcc2;
    p {
        padding: 10px;
    }
    img {
        object-fit: cover;
        image-rendering: pixelated;
    }
    .stt {
        padding: 5px;
        border-radius: 5px;
        background-color: aquamarine;
        margin-right: 5px;
        font-weight: bold;
    }
    .img {
        width: 40px;
        background-color: rgb(174, 175, 175);
        border-radius: 50%;
        height: 40px;
        image-rendering: pixelated;
    }
    .name {
        width: 20%;
        font-weight: bold;
    }
    .sdt {
        width: 20%;
        font-weight: bold;
    }
    .email {
        width: 35%;
        font-weight: bold;
    }
    .action {
        display: block;
        margin-right: 0;
        display: flex;
        width: fit-content;
        button {
            border: none;
            outline: none;
            border-radius: 5px;
        }
        .edit {
            padding: 5px 10px;
            margin-right: 5px;
            background-color: rgb(6, 156, 64);
            font-weight: bold;
            color: white;
        }
        .delete {
            padding: 5px 10px;
            background-color: rgb(255, 0, 38);
            font-weight: bold;
            color: white;
        }
    }
    .showUser {
        padding: 10px;
        position: absolute;
        width: 290px;
       left: 40%;
       top: 50%;
        //transform: translate(-50%,-50%);
        border-radius: 5px;
        background-color: rgb(176, 189, 189);
        

        h2 {
            color: rgb(58, 58, 58);
            text-align: center;
        }
        h3 {
            color: rgb(56, 111, 193);
        }
        b {
            color: rgb(35, 47, 77);
        }
        .imgUser {
            image-rendering: pixelated;
            display: block;
            width: 100px;
            height: 100px;
            background-color: aqua;
            margin: 10px auto;
            border-radius: 50%;
            object-fit: cover;
        }
        .nameUser {
            text-align: center;
        }
    }
}
