.inforUserContent {
    min-height: 1000px;
    position: relative;
    padding-top: 100px;
    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(200px);
        object-fit: cover;
        z-index: -1;
    }
    .changeInforForm {
        width: fit-content;
        position: absolute;
        padding: 20px 40px;
        background-color: rgb(150, 190, 190);
        border-radius: 5px;
        top: 10%;
        left: 5%;
        z-index: 3;
    }
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .avatar {
            // top: 100%;
            // left: 40%;
            // transform: translate(-50%, -90%);
            // position: absolute;
            position: relative;
            padding: 40px;
            background-color: rgba(255, 255, 255, 0.852);
            border-radius: 5px;
            box-shadow: 3px 4px 5px #414141;
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 3px 4px 5px #aaaaaa;
            }

            img,
            b {
                text-align: center;
                display: block;
                margin: auto;
            }
            .editAvatar {
                position: absolute;
                top: 100%;
                left: 100%;
                transform: translate(-100%, -100%);
                font-size: 20px;
            }
        }
        .introduce {
            width: 40%;
            position: relative;
            background-color: rgb(197, 204, 204);
            padding: 10px;
            border-radius: 5px;
            .editInfor {
                position: absolute;
                top: 100%;
                left: 50%;
                font-size: 30px;
            }
        }
        .imgIntroduce {
            width: 60%;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 3px 4px 5px #9f979790;
        }
    }
    .content {
        width: 80%;
        margin: auto;
        margin-top: 100px;
        .tabList {
            border-radius: 5px;
            width: fit-content;
            overflow: hidden;
            .tab {
                display: inline-block;
                padding: 10px 20px;
                background-color: rgb(199, 199, 199);
                outline: none;
            }
            .selectedTab {
                background-color: rgb(255, 255, 255);
                padding: 15px 20px;
                border-radius: 5px;
            }
        }
    }
}
