.infoItem {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px 10px;

    border-radius: 5px;

    div {
        font-size: 30px;
        padding: 5px 20px 5px 0px;
    }
}
