.tourItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150%;
    background-color: rgb(226, 226, 226);
    margin-top: 3px;
    border-radius: 5px;
    padding: 5px;
    font-family: tahoma;
    p {
        padding: 5px 10px;
    }
    button {
        padding: 8px 10px;
        margin-right: 5px;
        border-radius: 5px;
        font-size: 20px;
        color: white;
        &:hover{
            background-color: rgb(202, 202, 202);
        }
    }
    .updateForm {
        position: absolute;
        width: fit-content;
        border-radius: 5px;
        top: 10%;
        left: 50%;
        padding: 20px 50px;
        overflow-y: auto;
        max-height: 500px;
        background-color: rgb(213, 201, 186);
    }
    .stt {
    }
    .tourId {
    }
    .tourName {
    }
    .soLuong {
    }
    .action {
    }
    .check{
        background-color: rgba(170, 170, 170, 0.929);
        color: black;
        
        
    }
    .update{
        background-color: rgb(15, 153, 153);
    }
    .del{
        background-color: rgb(228, 17, 17);
    }
}
