.tourItem {
    display: flex;
    align-items: center;

    height: 50px;
    width: 100%;
    background-color: rgba(253, 253, 253, 0.268);
    margin-top: 10px;

    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: 1px 2px 3px rgb(133, 133, 133);

    p {
        padding: 5px 10px;
    }
    button {
        padding: 5px 8px;
        margin-right: 5px;
        border-radius: 5px;
        font-size: 15px;
        font-family: tahoma;
        color: rgb(0, 0, 0);
        &:hover {
            background-color: rgb(202, 202, 202);
        }
    }
    .updateForm {
        position: absolute;
        width: fit-content;
        border-radius: 5px;
        top: 10%;
        //left: 50%;
        margin: auto;
        padding: 20px 50px;
        overflow-y: auto;
        max-height: 500px;
        background-color: rgb(154, 175, 174);
    }
    .data {
        display: flex;
        p {
            text-align: center;
        }
    }
    .stt {
        width: 60px;
    }
    .sale {
        width: 80px;
    }
    .tinhTrang {
        width: 100px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .tourName {
        width: 400px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .openStatus {
        color: #00ba3b;
    }
    .soLuong {
        width: 60px;
    }
    .action {
        text-align: center;
        margin-left: 50px;
        width: 220px;
        font-weight: bold;
        padding-right: 10px;
    }
    .check {
        background-color: rgba(170, 170, 170, 0.929);
        &:hover {
            background-color: rgba(11, 147, 43, 0.519);
            color: white;
        }
    }
    .update {
        background-color: rgba(170, 170, 170, 0.929);
        &:hover {
            background-color: rgba(11, 147, 147, 0.519);
            color: white;
        }
    }
    .del {
        background-color: rgba(170, 170, 170, 0.929);
        &:hover {
            background-color: rgba(229, 12, 37, 0.519);
            color: white;
        }
    }
}
