.tourItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150%;
    background-color: rgb(226, 226, 226);
    margin-top: 3px;
    border-radius: 5px;
    padding: 5px;
    
    p {
        padding: 5px 10px;
    }
    button {
        padding: 5px 8px;
        margin-right: 5px;
        border-radius: 5px;
        font-size: 15px;
        font-family: tahoma;
        color: rgb(0, 0, 0);
        &:hover{
            background-color: rgb(202, 202, 202);
        }
    }
    .updateForm {
        position: absolute;
        width: fit-content;
        border-radius: 5px;
        top: 10%;
        left: 50%;
        padding: 20px 50px;
        overflow-y: auto;
        max-height: 500px;
        background-color: rgb(213, 201, 186);
    }
    .stt {
        width: 40px;
    }
    .tourId {
    }
    .tourName {
    }
    .soLuong {
    }
    .action {
    }
    .check{
        background-color: rgba(170, 170, 170, 0.929);
        &:hover{
            background-color: rgba(11, 147, 43, 0.519);
            color: white;
        }
               
    }
    .update{
        background-color: rgba(170, 170, 170, 0.929);
        &:hover{
            background-color: rgba(11, 147, 147, 0.519);
            color: white;
        }
    }
    .del{
        background-color: rgba(170, 170, 170, 0.929);
        &:hover{
            background-color: rgba(229, 12, 37, 0.519);
            color: white;
        }
    }
}
